<form class="form-horizontal">
    <div class="control-group-header">
        <h3>ShutdownButtonLEDBuzzer</h3>
    </div>

    <div class="control-group">
        Remember to use <b>BCM</b> pins and to check if other services are using them,
        like, for instance, GPIO21 which is unavailable if SPI is on. To be sure, check
        the Raspberry pinout and pick pins with no other functionalities otherwise ensure
        I2C or SPI are not using the chosen pin through the last page section.
    </div>

    <div class="control-group-header">
        <h4>Button setup</h4>
    </div>

    <div class="control-group">
        This button adds a hardware shutdown procedure to the Raspberry,
        without requiring any external resistor.
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_button_en">
                {{ _("Enable button") }}
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Button pin') }}</label>
        <div class="controls">
            <label>
                <input type="text" class="input-block-level center-input"
                       data-bind="value: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.button_pin,
                                  enable: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_button_en">
            </label>
        </div>
    </div>

    <div class="control-group-header">
        <h4>LED setup</h4>
    </div>

    <div class="control-group">
        This LED is thought to be an indication of the Raspberry state when it is not possible
        to check OctoPrint via its web interface. Consequently, if enabled, it is active from
        the moment the plugin is booted, so when OctoPrint is ready, until the board turn off
        completely the GPIO, which is close to the complete shutdown.
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_led_en">
                {{ _("Enable LED") }}
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('LED pin') }}</label>
        <div class="controls">
            <label>
                <input type="text" class="input-block-level center-input"
                       data-bind="value: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.led_pin,
                                  enable: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_led_en">
            </label>
        </div>
    </div>

    <div class="control-group-header">
        <h4>Buzzer setup</h4>
    </div>

    <div class="control-group">
        If buzzer is enabled, this plugin emits the startup sound
        whenever at least one parameter is modified and saved.
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_buzzer_en">
                {{ _("Enable buzzer") }}
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Buzzer pin') }}</label>
        <div class="controls">
            <label>
                <input type="text" class="input-block-level center-input"
                       data-bind="value: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.buzzer_pin,
                                  enable: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_buzzer_en">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beep duration (ms)') }}</label>
        <div class="controls">
            <label>
                <input type="text" class="input-block-level center-input"
                       data-bind="value: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.beep_ms,
                                  enable: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_buzzer_en">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beeps number on startup') }}</label>
        <div class="controls">
            <label>
                <input type="text" class="input-block-level center-input"
                       data-bind="value: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.beeps_on_startup,
                                  enable: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_buzzer_en">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beeps number on button pressed') }}</label>
        <div class="controls">
            <label>
                <input type="text" class="input-block-level center-input"
                       data-bind="value: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.beeps_on_pressed,
                                  enable: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_buzzer_en">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beeps number on shutdown') }}</label>
        <div class="controls">
            <label>
                <input type="text" class="input-block-level center-input"
                       data-bind="value: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.beeps_on_shutdown,
                                  enable: settingsViewModel.settings.plugins.shutdownbuttonledbuzzer.is_buzzer_en">
            </label>
        </div>
    </div>

    <div class="control-group-header">
        <h4>Services enabled</h4>
    </div>

    <div class="control-group">
        Use this section to check if one of these is enabled. I2C, if on,
        will use GPIO2 and GPIO3 while SPI GPIO7, GPIO8, GPIO9, GPIO10,
        GPIO11, GPIO16, GPIO19, GPIO20, and GPIO21 on Raspberry PI 3B+.<BR>
        If set to <i>undefined</i> the server was unable to retrieve the information.
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('I2C') }}</label>
        <div class="controls">
            <label class="padding-top" data-bind="text: i2c_status,
            css: { 'label-enabled': i2c_status() == 'enabled',
                   'label-disabled': i2c_status() == 'disabled',
                   'label-undefined': i2c_status() == 'undefined' }">-</label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('SPI') }}</label>
        <div class="controls">
            <label class="padding-top" data-bind="text: spi_status,
            css: { 'label-enabled': spi_status() == 'enabled',
                   'label-disabled': spi_status() == 'disabled',
                   'label-undefined': spi_status() == 'undefined' }">-</label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="button" class="btn btn-primary" data-bind="click: refresh" value="Refresh">
        </div>
    </div>

</form>