<form class="form-horizontal">
    <div class="control-group-header">
        <h3>ShutdownButtonLEDBuzzer</h3>
    </div>

    <div class="control-group">
        This plugin uses <B>BCM</B> pins. <BR>
        To know more data about pins check
        <a href="https://plugins.octoprint.org/plugins/gpiostatus/" target="_blank">
        this plugin</a>.
    </div>

    <div class="control-group-header">
        <h4>Button setup</h4>
    </div>

    <div class="control-group">
        This button adds a hardware shutdown procedure to the Raspberry,
        without requiring any external resistor. <b>Remember to configure
        the shutdown command in the apposite OctoPrint section</b>.
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: shutdownButtonLEDBuzzer.is_button_en">
                {{ _("Enable button") }}
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Button pin') }}</label>
        <div class="controls">
            <label>
                <input type="number" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.button_pin,
                                  enable: shutdownButtonLEDBuzzer.is_button_en"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: shutdownButtonLEDBuzzer.is_disabled_in_print,
                                  enable: shutdownButtonLEDBuzzer.is_button_en">
                {{ _("Disable button during printing") }}
            </label>
        </div>
    </div>

    <div class="control-group-header">
        <h4>LED setup</h4>
    </div>

    <div class="control-group">
        This LED is active since the plugin's startup process is completed
        until <B>the GPIO</B>, not the board, is shut down.
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: shutdownButtonLEDBuzzer.is_led_en">
                {{ _("Enable LED") }}
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('LED pin') }}</label>
        <div class="controls">
            <label>
                <input type="number" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.led_pin,
                                  enable: shutdownButtonLEDBuzzer.is_led_en"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group-header">
        <h4>Buzzer setup</h4>
    </div>

    <div class="control-group">
        If buzzer is enabled, this plugin emits the startup sound
        whenever at least one parameter is modified and saved.
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: shutdownButtonLEDBuzzer.is_buzzer_en">
                {{ _("Enable buzzer") }}
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Buzzer type</label>
        <div class="controls">
            <label class="text">
                <select style="text-align: center"
                        data-bind="enable: shutdownButtonLEDBuzzer.is_buzzer_en,
                                   value: buzzer_type">
                    <option>Active</option>
                    <option>Passive</option>
                </select>
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Buzzer MIDI note (for passive)') }}</label>
        <div class="controls">
            <label>
                <input type="number" min="35" max="107" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.active_note,
                                  enable: shutdownButtonLEDBuzzer.is_buzzer_en() &&
                                          !shutdownButtonLEDBuzzer.is_buzzer_active()"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Buzzer pin') }}</label>
        <div class="controls">
            <label>
                <input type="number" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.buzzer_pin,
                                  enable: shutdownButtonLEDBuzzer.is_buzzer_en"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beep duration (ms)') }}</label>
        <div class="controls">
            <label>
                <input type="number" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.beep_ms,
                                  enable: shutdownButtonLEDBuzzer.is_buzzer_en"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beeps number on startup') }}</label>
        <div class="controls">
            <label>
                <input type="number" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.beeps_on_startup,
                                  enable: shutdownButtonLEDBuzzer.is_buzzer_en"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beeps number on button pressed') }}</label>
        <div class="controls">
            <label>
                <input type="number" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.beeps_on_pressed,
                                  enable: shutdownButtonLEDBuzzer.is_buzzer_en"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Beeps number on shutdown') }}</label>
        <div class="controls">
            <label>
                <input type="number" class="input-block-level center-input"
                       data-bind="value: shutdownButtonLEDBuzzer.beeps_on_shutdown,
                                  enable: shutdownButtonLEDBuzzer.is_buzzer_en"
                       style="text-align: center">
            </label>
        </div>
    </div>

    <div class="control-group-header">
        <h4>Services enabled</h4>
    </div>

    <div class="control-group">
        Use this section to check if one of these is enabled.<BR>
        If set to <i>undefined</i> the server was unable to retrieve the information.
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('I2C') }}</label>
        <div class="controls">
            <label class="padding-top" data-bind="text: i2c_status,
            css: { 'label-enabled': i2c_status() == 'enabled',
                   'label-disabled': i2c_status() == 'disabled',
                   'label-undefined': i2c_status() == 'undefined' }">-</label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('SPI') }}</label>
        <div class="controls">
            <label class="padding-top" data-bind="text: spi_status,
            css: { 'label-enabled': spi_status() == 'enabled',
                   'label-disabled': spi_status() == 'disabled',
                   'label-undefined': spi_status() == 'undefined' }">-</label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="button" class="btn btn-primary" data-bind="click: refresh" value="Refresh">
            <label class="update-label">Last on <span data-bind="text: updated_hour">-</span></label>
        </div>
    </div>

</form>